

.login-form {
    color: white;
    margin-top: 15em;
    text-align: center;
}

input {
    margin-bottom: 1em;
}

button {
    padding: .5em;
    margin-bottom: .3em;
}

body {
    background-color: black;
}